[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pillow = "*"
overlay = "*"
pyglet = "*"
pynput = "*"
auto-py-to-exe = "*"
asteval = "*"
authorizenet = "*"
pyxb = "*"

[dev-packages]

[requires]
python_version = "3.9.10"
